<ActionBar title="Finances" class="action-bar"></ActionBar>
<GridLayout class="page">
    <GridLayout rows="auto,auto" class="rentCard">
        <GridLayout row="1" class="card">
            <Label row="0" text="Rent"></Label>
        </GridLayout>
    </GridLayout>
    <GridLayout rows="auto,auto" class="utiltiyBillCard">
        <GridLayout row="1" class="card">
            <Label row="0" text="Utility Bills"></Label>
        </GridLayout>
    </GridLayout>
    <GridLayout rows="auto,auto" class="shoppingCard">
        <GridLayout row="1" class="card">
            <Label row="0" text="Shopping List"></Label>
        </GridLayout>
    </GridLayout>
    <GridLayout verticalAlignment="bottom">
		<GridLayout columns="*, *, *" class="bottom-navigation">
			<GridLayout col="0" (tap)="selectTab(0)">
				<Label class="menu-word" text="Menu"></Label>
				<Button class="fa menu-icon" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
			</GridLayout>
			<GridLayout col="2" (tap)="selectTab(2)">
				<Label class="menu-word m-word" text="Finances" [nsRouterLink]="['/HouseProfile']"></Label>
				<Button class="fa menu-icon m-word" text="&#xf4d3;"></Button>
			</GridLayout>
		</GridLayout>
	</GridLayout>
</GridLayout>