.menu-word {
    margin-top: 20;
    color: white
  } 
  
  .menu-icon {
    margin-bottom: 25;
    color: white
  }
  
  .bottom-navigation {
    height: 52;
    text-align: center;
    background-color: #8f91de;;
    border-top-color: #dae1e7;
    border-top-width: 1;
  }
  
  .m-word {
    margin-right: 10;
  }

  .euroIcon {
    margin-left: 210;
}

  .bills {
      margin-top: 400;
  }

  .billInfo {
      margin-bottom: 350;
      margin-left: 30;
  }

  .billIcon {
      margin-bottom: 370;
      margin-right: 330;
  }
  
  .icon {
    margin-bottom: 500;
    margin-right: 320;
  }
  
  .title {
    margin-bottom: 500;
    margin-left: 40;
  }
  
  .paidBy {
    margin-bottom: 450;
    margin-left: 40;
    font-weight: bold;
  }
  
  .notPaid {
    margin-bottom: 150;
    margin-left: 40;
    font-weight: bold;
  }
  
  .makePayment {
    margin-top: 100;
    margin-left: 40;
    font-weight: bold;
  }
  
  .listPaid {
    margin-top: 100;
  }
  
  .listNotPaid {
    margin-top: 250;
  }
  
  .paidText {
    margin-left: 40;
  }
  
  .notPaidText {
      margin-left: 40;
      margin-top: 150;
  }
  
  .drawer-icon {
    width: 24;
    margin: -45 30 15 15;
}

.owe-dashboard {
    padding: 0 10;
    margin-top: -35;
}

.owe-dashboard-item {
    background: #fff;
    padding: 10 10 15;
    margin: 0 25;
    border-width: 1;
    border-color: #fff;
    border-radius: 3;
}

.owe-dashboard-item.active {
    border-color: #fff;
}


.owe-list {
    margin: 0 15 15;
}

.owe-list-item {
    background-color: #fff;
}

.owe-main-info {
    padding: 10 15;
}

.owe-category-icon {
    width: 45;
    height: 45;
    margin-right: 15;
}

.owe-info-container {
    color: #acacac;
    font-size: 13;
}

.owe-title {
    font-weight: 600;
    margin-bottom: 5;
    color: #000;
    font-size: 15;
}

.owe-ammount {
    font-weight: 600;
    color: #f67979;
}


.pay-amount {
    color: #8f91de;
    font-size: 15;
}

.owe-secondary-info {
    padding: 5 15;
    color: #acacac;
    font-size: 14;
    border-top-width: 1;
    border-top-color: #e9e9e9;
}

.time-information {
    margin-top: -2;
}

.debtor-list {
    margin-left: 5;
    margin-right: 10;
}

.divider {
    height: 15;
    background-color: #e8e7e7;
}


.owe-list-filter {
    margin: 25 15 15;
}

.owe-list-filter-item {
    margin-left: 25;
}

.owe-list-filter__icon {
    width: 14;
    height: 14;
    margin-right: 10;
}

.owe-list-filter__text {
    font-size: 15;
}

.category-icon-detail {
    width: 40;
    margin-right: 20;
}

.price-detail {
    font-size: 25;
    color: #8f91de;
}

.description-text {
    font-size: 14;
    margin: 15 0;
}

.detail-section {
    margin: 20 0;
}

.detail-section__title {
    font-size: 20;
    font-weight: 600;
    margin-bottom: 20;
}

.form-control {
    margin-left: 20;
    border-bottom-width: 1;
    border-bottom-color: #acacac;
    font-size: 22;
    padding: 10 5;
}

.hr-light {
    border-bottom-width: 1;
    border-bottom-color: #acacac;
}

.form-control.price {
    color: #8f91de;
}

.form-control.split-price {
    width: 120;
}

.form-icon {
    width: 20;
    margin-right: 5;
    margin-left: 5;
}

.form-icon.category {
    width: 30;
    margin: 0;
}

.form-row {
    margin: 0 0 15;
}

.bottom-drawer-content {
    background-color: #fff;
    padding: 0 20 20;
}

.category-drawer-item {
    margin: 8 0;
}

.category-drawer__title {
    font-size: 18;
    font-weight: 700;
    margin-bottom: 10;
}

.suggestion-item {
    border-width: 1;
    border-color: #b8b8b8; 
    padding: 10;
}

#imagePickerResult {
    width: 100;
    margin-left: 50;
    border-width: 1;
    border-color: #bf97df;
}
