<ActionBar title="Detail" class="action-bar"></ActionBar>
<GridLayout class="page">
	<GridLayout>
		<GridLayout row="0">
			<Image src="~/images/boughtBy.png" style="width:15em; height:40em;" class="icon"></Image>
			<Label text="Bought by" class="title"></Label>
			<Label text="Paid by" class="paidBy"></Label>
		</GridLayout>
		<StackLayout row="0" class="listPaid">
			<ListView [items]="items" separatorColor="transparent" class="transactions-list">
				<ng-template nsTemplateKey="transaction" let-item="item">
					<GridLayout columns="auto, *, auto" class="transactions-list-item">
						<StackLayout col="0" class="mr-10" height="36" width="36">
							<Label text="price" class="calculatingPrice"></Label>
						</StackLayout>
						<StackLayout col="1" verticalAlignment="center">
							<Label [text]="item.user"></Label>
						</StackLayout>
						<Label col="2" horizontal="right" class="ammount">
							<FormattedString>
								<Span text="Amount: €"></Span>
								<Span [text]="item.price"></Span>
							</FormattedString>
						</Label>
					</GridLayout>
				</ng-template>
			</ListView>
		</StackLayout>
		<Label text="Make your payment" class="makePayment"></Label>
	</GridLayout>
	<GridLayout verticalAlignment="bottom">
		<GridLayout columns="*, *, *" class="bottom-navigation">
			<GridLayout col="0" (tap)="selectTab(0)">
				<Label class="menu-word" text="Menu"></Label>
				<Button class="fa menu-icon" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
			</GridLayout>
			<GridLayout col="2" (tap)="selectTab(2)">
				<Label class="menu-word m-word" text="Items Bought" [nsRouterLink]="['/Shopping']" clearHistory="true"></Label>
				<Button class="fa menu-icon m-word" text="&#xf291;"></Button>
			</GridLayout>
		</GridLayout>
	</GridLayout>
</GridLayout>