<ActionBar title="Suggested Item" class="action-bar"></ActionBar>
<GridLayout class="page">
	<GridLayout>
		<GridLayout row="0">
			<Image src="~/images/boughtBy.png" style="width:15em; height:40em;" class="icon"></Image>
			<Label text="Suggested by" class="title"></Label>
			<Label text="Buy Item" class="buyItem"></Label>
			<Label text="Choose 'Yes' If you are going to/have already bought this item, then enter in the item details." 
				   class="buyItemText" textWrap="true"></Label>
		</GridLayout>
		<GridLayout  row="1">
			<Label text="{{toogleName}}" class="toogleText"></Label>
			<Switch checked="false" (checkedChange)="onCheckedChange($event)" class="toogle" 
					backgroundColor="MEDIUMPURPLE" offBackgroundColor="MIDNIGHTBLUE"></Switch>
		</GridLayout>
		<StackLayout width="100%" class="default-container" *ngIf="toogled">
			<FlexboxLayout flexDirection="row" class="form-row">
				<Image src="~/images/description-icon.png" class="form-icon"></Image>
				<TextField class="form-control" hint="Input price here" [(ngModel)]="itemPriceValue"
					flexGrow="1" keyboardType="number"></TextField>
			</FlexboxLayout>
			<FlexboxLayout flexDirection="row" class="form-row">
				<Image src="~/images/date-icon.png" class="form-icon"></Image>
				<TextField class="form-control" hint="Input date here" [(ngModel)]="itemDateValue"
					flexGrow="1" keyboardType="dateTime"></TextField>
			</FlexboxLayout>
			<FlexboxLayout flexDirection="row" class="form-row">
				<Image id="selectCategoryIcon" src="~/images/icon-shopping.png"
					class="form-icon category"></Image>
				<Label id="selectCategoryText" class="form-control" text="House Shop" flexGrow="1"></Label>
			</FlexboxLayout>
			<Button text="Save" (tap)="saveItem()" class="buttonText"></Button>
		</StackLayout>
	</GridLayout>
	<GridLayout verticalAlignment="bottom">
		<GridLayout columns="*, *, *" class="bottom-navigation">
			<GridLayout col="0" (tap)="selectTab(0)">
				<Label class="menu-word" text="Menu"></Label>
				<Button class="fa menu-icon" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
			</GridLayout>
			<GridLayout col="2" (tap)="selectTab(2)">
				<Label class="menu-word m-word" text="Suggested" [nsRouterLink]="['/SuggestItem']" clearHistory="true"></Label>
				<Button class="fa menu-icon m-word" text="&#xf291;"></Button>
			</GridLayout>
		</GridLayout>
	</GridLayout>
</GridLayout>