<ActionBar title="Select Icon">
</ActionBar>
<GridLayout class="page">
	<GridLayout>
		<Image src={{icon1}}
			(tap)="changeIcon(icon1)" style="width:200px;height:210px;"
			class="pic1"></Image>
		<Image src={{icon2}}
			(tap)="changeIcon(icon2)" style="width:200px;height:210px;"
			class="pic2"></Image>
		<Image src={{icon3}}
			(tap)="changeIcon(icon3)" style="width:200px;height:210px;"
			class="pic3"></Image>
		<Image src={{icon4}}
			(tap)="changeIcon(icon4)" style="width:200px;height:210px;"
			class="pic4"></Image>
		<Image src={{icon5}}
			(tap)="changeIcon(icon5)" style="width:200px;height:210px;"
			class="pic5"></Image>
		<Image src={{icon6}}
			(tap)="changeIcon(icon6)" style="width:200px;height:210px;"
			class="pic6"></Image>
		<Image src={{icon7}}
			(tap)="changeIcon(icon7)" style="width:200px;height:210px;"
			class="pic7"></Image>
		<Image src={{icon8}}
			(tap)="changeIcon(icon8)" style="width:200px;height:210px;"
			class="pic8"></Image>
		<Image src={{icon9}}
			(tap)="changeIcon(icon9)" style="width:200px;height:210px;"
			class="pic9"></Image>
		<Image src={{icon10}}
			(tap)="changeIcon(icon10)" style="width:200px;height:210px;"
			class="pic10"></Image>
		<Image src={{icon11}}
			(tap)="changeIcon(icon11)" style="width:200px;height:210px;"
			class="pic11"></Image>
		<Image src={{icon12}}
			(tap)="changeIcon(icon12)" style="width:200px;height:210px;"
			class="pic12"></Image>
		<Image src={{icon13}}
			(tap)="changeIcon(icon13)" style="width:200px;height:210px;"
			class="pic13"></Image>
		<Image src={{icon14}}
			(tap)="changeIcon(icon14)" style="width:200px;height:210px;"
			class="pic14"></Image>
		<Image src={{icon15}}
			(tap)="changeIcon(icon15)" style="width:200px;height:210px;"
			class="pic15"></Image>
	</GridLayout>
	<GridLayout verticalAlignment="bottom">
		<GridLayout columns="*, *, *" class="bottom-navigation">
			<GridLayout col="0" (tap)="selectTab(0)">
				<Label class="menu-word" text="Menu"></Label>
				<Button class="fa menu-icon" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
			</GridLayout>
			<GridLayout col="1" (tap)="selectTab(1)">
				<Label class="menu-word" text="Profile" [nsRouterLink]="['/Profile']" clearHistory="true"></Label>
				<Button class="fa menu-icon" text="&#xf007;"></Button>
			</GridLayout>
			<GridLayout col="2" (tap)="selectTab(2)">
				<Label class="menu-word" text="Edit Profile" [nsRouterLink]="['/EditProfile']"
					clearHistory="true"></Label>
				<Button class="fa menu-icon" text="&#xf044;"></Button>
			</GridLayout>
		</GridLayout>
	</GridLayout>
</GridLayout>