<ActionBar title="Select Icon">
</ActionBar>
<GridLayout class="page">
	<GridLayout>
		<Image src="~/images/avatars/avatars/png/001-girl.png" style="width:200px;height:210px;" class="pic1"></Image>
		<Image src="~/images/avatars/avatars/png/015-girl-14.png" style="width:200px;height:210px;" class="pic2"></Image>
		<Image src="~/images/avatars/avatars/png/003-girl-2.png" style="width:200px;height:210px;" class="pic3"></Image>
		<Image src="~/images/avatars/avatars/png/004-girl-3.png" style="width:200px;height:210px;" class="pic4"></Image>
		<Image src="~/images/avatars/avatars/png/005-girl-4.png" style="width:200px;height:210px;" class="pic5"></Image>
		<Image src="~/images/avatars/avatars/png/034-girl-21.png" style="width:200px;height:210px;" class="pic6"></Image>
		<Image src="~/images/avatars/avatars/png/007-girl-6.png" style="width:200px;height:210px;" class="pic7" ></Image>
		<Image src="~/images/avatars/avatars/png/008-girl-7.png" style="width:200px;height:210px;" class="pic8"></Image>
		<Image src="~/images/avatars/avatars/png/043-man-10.png" style="width:200px;height:210px;" class="pic9"></Image>
		<Image src="~/images/avatars/avatars/png/022-man-1.png" style="width:200px;height:210px;" class="pic10"></Image>
		<Image src="~/images/avatars/avatars/png/035-boy-5.png" style="width:200px;height:210px;" class="pic11"></Image>
		<Image src="~/images/avatars/avatars/png/024-boy-1.png" style="width:200px;height:210px;" class="pic12"></Image>
		<Image src="~/images/avatars/avatars/png/044-boy-8.png" style="width:200px;height:210px;" class="pic13"></Image>
		<Image src="~/images/avatars/avatars/png/039-man-7.png" style="width:200px;height:210px;" class="pic14"></Image>
		<Image src="~/images/avatars/avatars/png/041-man-8.png" style="width:200px;height:210px;" class="pic15"></Image>
	</GridLayout>
	<GridLayout verticalAlignment="bottom">
		<GridLayout columns="*, *, *" class="bottom-navigation">
			<GridLayout col="0" (tap)="selectTab(0)">
				<Label class="menu-word" text="Menu"></Label>
				<Button class="fa menu-icon" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
			</GridLayout>
			<GridLayout col="1" (tap)="selectTab(1)">
				<Label class="menu-word" text="Profile" [nsRouterLink]="['/Profile']" clearHistory="true"></Label>
				<Button class="fa menu-icon" text="&#xf007;"></Button>
			</GridLayout>
			<GridLayout col="2" (tap)="selectTab(2)">
				<Label class="menu-word" text="Edit Profile" [nsRouterLink]="['/EditProfile']"
					clearHistory="true"></Label>
				<Button class="fa menu-icon" text="&#xf044;"></Button>
			</GridLayout>
		</GridLayout>
	</GridLayout>
</GridLayout>