<ActionBar title="Add Utility Bill" class="action-bar">
    <ActionItem (tap)="saveBill()" ios.systemIcon="3" ios.position="right"></ActionItem>
</ActionBar>
<GridLayout class="page">
    <GridLayout rows="*" height="1500px">
        <RadSideDrawer id="bottomDrawer" drawerContentSize="500" drawerLocation="Bottom">
            <StackLayout tkDrawerContent class="bottom-drawer-content">
                <FlexboxLayout flexDirection="row" class="category-drawer-item">
                    <Label text="Select Category" class="category-drawer__title"></Label>
                </FlexboxLayout>
            </StackLayout>

            <ScrollView tkMainContent id="scrollContainer">

                <StackLayout width="100%" class="default-container">
                    <FlexboxLayout flexDirection="row" class="form-row">
                        <Image id="selectCategoryIcon" src="~/images/bill.png" class="form-icon category"></Image>
                        <Label id="selectCategoryText" class="form-control" text="Utility Bill" flexGrow="1"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout flexDirection="row" class="form-row">
                        <Image src="~/images/description-icon.png" class="form-icon"></Image>
                        <TextField class="form-control" hint="Input title here" [(ngModel)]="nameValue" flexGrow="1">
                        </TextField>
                    </FlexboxLayout>
                    <FlexboxLayout flexDirection="row" class="form-row">
                        <Label text="Rp" class="price-detail"></Label>
                        <TextField class="form-control price" hint="Input price here" [(ngModel)]="priceValue"
                            flexGrow="1" keyboardType="number"></TextField>
                    </FlexboxLayout>
                    <Label text="Please enter the due date" class="dueDateText"></Label>
                    <FlexboxLayout flexDirection="row" class="form-row">
                        <Image src="~/images/date-icon.png" class="form-icon"></Image>
                        <DatePicker year="1980" month="4" day="20" [minDate]="minDate" [maxDate]="maxDate"
                            (dateChange)="onDateChanged($event)"></DatePicker>
                    </FlexboxLayout>
                </StackLayout>
            </ScrollView>
        </RadSideDrawer>
    </GridLayout>
    <GridLayout verticalAlignment="bottom">
        <GridLayout columns="*, *, *" class="bottom-navigation">
            <GridLayout col="0" (tap)="selectTab(0)">
                <Label class="menu-word" text="Menu"></Label>
                <Button class="fa menu-icon" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
            </GridLayout>
            <GridLayout col="2" (tap)="selectTab(2)">
                <Label class="menu-word m-word" text="Cancel" [nsRouterLink]="['/Detail']" clearHistory="true"></Label>
                <Button class="fa menu-icon m-word" text="&#xf057;"></Button>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</GridLayout>