<ActionBar title="Transactions" class="action-bar"></ActionBar>
<GridLayout class="page">
	<GridLayout rows="160, 80, *">
		<!-- Chart -->
		<StackLayout row="0" class="balance-chart">
			<app-expenses-chart [data]="expensesChartData"></app-expenses-chart>
		</StackLayout>
		<GridLayout row="1" class="balance-summary">
		<StackLayout col="1">
			<Label text="Expenses Total" class="expensesTotal"></Label>
			<Label text="{{totalTransactions | number}}" class="ammount expensesFigure"></Label>
			<Label *ngFor="let link of house"> {{ link }}</Label>
		</StackLayout>
		</GridLayout>
		<StackLayout row="2">
			<ListView [items]="transactions" separatorColor="transparent" class="transactions-list">
				<ng-template nsTemplateKey="transaction" let-item="item">
					<GridLayout columns="auto, *, auto" class="transactions-list-item">
						<StackLayout col="0" class="mr-10" height="36" width="36">
							<Image [src]="getIcon(item.type)" style="width:15em; height:40em;"></Image>
							<Label [text]= "calculatePrice(item.type, item.price)" class="calculatingPrice"></Label>
						</StackLayout>
						<StackLayout col="1" verticalAlignment="center">
							<Label [text]="item.name" class="title"></Label>
							<Label [text]="item.type" class="category"></Label>
						</StackLayout>
						<Label col="2" horizontal="right" class="ammount">
							<FormattedString>
								<Span [text]="item.price"></Span>
								<Span class="icon fas fa-coins"></Span>
							</FormattedString>
						</Label>
					</GridLayout>
				</ng-template>
			</ListView>
		</StackLayout>
	</GridLayout>
	<GridLayout verticalAlignment="bottom">
		<GridLayout columns="*, *, *" class="bottom-navigation">
			<GridLayout col="0" (tap)="selectTab(0)">
				<Label class="menu-word" text="Menu"></Label>
				<Button class="fa menu-icon" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
			</GridLayout>
			<GridLayout col="1" (tap)="selectTab(1)">
				<Label class="menu-word" text="Transactions" [nsRouterLink]="['/IndividualProfile']"></Label>
				<Button class="fa menu-icon" text="&#xf15c;"></Button>
			</GridLayout>
			<GridLayout col="2" (tap)="selectTab(2)">
				<Label class="menu-word" text="Calendar" [nsRouterLink]="['/Calendar']"></Label>
				<Button class="fa menu-icon" text="&#xf073;"></Button>
			</GridLayout>
		</GridLayout>
	</GridLayout>
</GridLayout>