.menu-word {
  margin-top: 20;
  color: #c91010b2;
} 

.menu-icon {
  margin-bottom: 25;
  color: #c91010b2;
}

.bottom-navigation {
  height: 52;
  text-align: center;
  background-color: #ffffff;
  border-top-color: #dae1e7;
  border-top-width: 1;
}
