<ActionBar title="House Shop" class="action-bar"></ActionBar>
<GridLayout class="page">
    <GridLayout rows="*" height="1500px" *ngIf="!itemDetail">
        <AbsoluteLayout width="100%" height="100%" backgroundColor="#e8e7e7">
            <StackLayout top="0" left="0" width="100%" height="100%">
                <GridLayout columns="auto, auto , auto" row="auto" width="100%" height="auto" class="profile-container"
                    verticalAlignment="middle">
                    <StackLayout row="0" col="2" height="50" orientation="vertical"
                        class="profile-information-container">
                        <Label text="Items Bought"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout columns="auto, auto, *" rows="auto" width="100%" height="auto" class="owe-dashboard">
                    <StackLayout id="category1" [nsRouterLink]="['/Shopping']" clearHistory="true" category="total"
                        row="0" col="0" orientation="vertical" class="owe-dashboard-item active">
                        <Label text="Items Bought" class="dasboard-value total"></Label>
                    </StackLayout>
                    <StackLayout id="category2" [nsRouterLink]="['/SuggestItem']" clearHistory="true" category="owe"
                        row="0" col="1" orientation="vertical" class="owe-dashboard-item">
                        <Label text="Suggested Items" class="dasboard-value owe"></Label>
                    </StackLayout>
                </GridLayout>
                <FlexboxLayout justifyContent="flex-end" class="owe-list-filter">
                    <FlexboxLayout justifyContent="flex-end" class="owe-list-filter-item">
                        <Image class="owe-list-filter__icon" src="~/images/date-filter.png" verticalAlignment="middle">
                        </Image>
                        <Label class="owe-list-filter__text" text="All Time" verticalAlignment="middle"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout justifyContent="flex-end" class="owe-list-filter-item">
                        <Image class="owe-list-filter__icon" src="~/images/category-filter.png"
                            verticalAlignment="middle"></Image>
                        <Label class="owe-list-filter__text" text="All Category" verticalAlignment="middle"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <ListView [items]="transactions" backgroundColor="#e8e7e7">
                    <ng-template nsTemplateKey="transaction" let-item="item">
                        <FlexboxLayout flexDirection="column" class="owe-list" backgroundColor="#e8e7e7"
                            (tap)="getItemDetail(item.name, item.boughtBy)">
                            <ListDetailComponent #list></ListDetailComponent>
                            <StackLayout id="item1" orientation="vertical" class="owe-list-item" width="100%"
                                (tap)="onNavigate()">
                                <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto"
                                    class="owe-main-info" verticalAlignment="top">
                                    <Image row="0" col="0" src="~/images/icon-shopping.png" class="owe-category-icon">
                                    </Image>
                                    <StackLayout row="0" col="1" orientation="vertical" class="owe-info-container">
                                        <Label class="owe-title" [text]="item.name"></Label>
                                        <Label class="owe-title" text="{{itemName}}"></Label>
                                    </StackLayout>
                                    <Label text="€ " verticalAlignment="top" row="0" col="1"
                                        class="pay-amount euroIcon"></Label>
                                    <Label verticalAlignment="top" row="0" col="2" [text]="item.price"
                                        class="pay-amount"></Label>
                                </GridLayout>
                                <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto"
                                    class="owe-secondary-info">
                                    <Label row="0" col="0" [text]="item.date" class="time-information"></Label>
                                </GridLayout>
                                <Label class="divider" text=""></Label>
                            </StackLayout>
                        </FlexboxLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </AbsoluteLayout>
    </GridLayout>
    <GridLayout *ngIf="itemDetail">
        <GridLayout row="0">
            <Image src="~/images/boughtBy.png" style="width:15em; height:40em;" class="icon"></Image>
            <Label text="Bought by {{boughtBy}}" class="title"></Label>
            <Label text="Paid by" class="paidBy"></Label>
        </GridLayout>
        <StackLayout row="0" class="listPaid">
            <ListView [items]="items" separatorColor="transparent" class="transactions-list">
                <ng-template nsTemplateKey="transaction" let-item="item">
                    <GridLayout columns="auto, *, auto" class="transactions-list-item">
                        <StackLayout col="0" class="mr-10" height="36" width="36">
                            <Label text="price" class="calculatingPrice"></Label>
                        </StackLayout>
                        <StackLayout col="1" verticalAlignment="center">
                            <Label [text]="item.user"></Label>
                        </StackLayout>
                        <Label col="2" horizontal="right" class="ammount">
                            <FormattedString>
                                <Span text="Amount: €"></Span>
                                <Span [text]="item.price"></Span>
                            </FormattedString>
                        </Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
        <Label text="Make your payment" class="makePayment"></Label>
    </GridLayout>
    <GridLayout verticalAlignment="bottom">
        <GridLayout columns="*, *, *" class="bottom-navigation">
            <GridLayout col="0" (tap)="selectTab(0)">
                <Label class="menu-word" text="Menu"></Label>
                <Button class="fa menu-icon" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
            </GridLayout>
            <GridLayout col="2" (tap)="selectTab(2)">
                <Label class="menu-word m-word" text="Finances" [nsRouterLink]="['/HouseProfile']"
                    clearHistory="true"></Label>
                <Button class="fa menu-icon m-word" text="&#xf15c;"></Button>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</GridLayout>