<ActionBar title="House Shop" class="action-bar"></ActionBar>
<GridLayout class="page">
    <GridLayout rows="*" height="1500px">
        <AbsoluteLayout width="100%" height="100%" backgroundColor="#e8e7e7">
            <FlexboxLayout justifyContent="flex-end" width="100%" id="addButtonContainer" left="0">
                <Button class="add-button" row="0" col="1" text="+" (tap)="navigateAdd()"></Button>
            </FlexboxLayout>
            <StackLayout top="0" left="0" width="100%" height="100%">
                <GridLayout columns="auto, auto , auto" row="auto" width="100%" height="auto" class="profile-container"
                    verticalAlignment="middle">
                    <StackLayout row="0" col="2" height="50" orientation="vertical" class="profile-information-container">
                    </StackLayout>
                </GridLayout>
                <GridLayout columns="auto, auto, *" rows="auto" width="100%" height="auto" class="owe-dashboard">
                    <StackLayout id="category1" (tap)="onTouch($event)" category="total" row="0" col="0"
                        orientation="vertical" class="owe-dashboard-item active">
                        <StackLayout orientation="horizontal" class="dashboard-title">
                            <Image src="~/images/total-indicator.png" class="dashboard__indicator"></Image>
                            <Label text="Total" class="dashboard-title__text"></Label>
                        </StackLayout>
                        <Label text="Rp 227.700" class="dasboard-value total"></Label>
                    </StackLayout>
                    <StackLayout id="category2" (tap)="onTouch($event)" category="owe" row="0" col="1"
                        orientation="vertical" class="owe-dashboard-item">
                        <StackLayout orientation="horizontal" class="dashboard-title">
                            <Image src="~/images/owe-indicator.png" class="dashboard__indicator"></Image>
                            <Label text="You Owed" class="dashboard-title__text"></Label>
                        </StackLayout>
                        <Label text="Rp 62.230" class="dasboard-value owe"></Label>
                    </StackLayout>
                    <StackLayout id="category3" (tap)="onTouch($event)" category="owed" row="0" col="2"
                        orientation="vertical" class="owe-dashboard-item">
                        <StackLayout orientation="horizontal" class="dashboard-title">
                            <Image src="~/images/owed-indicator.png" class="dashboard__indicator"></Image>
                            <Label text="You are Owed" class="dashboard-title__text"></Label>
                        </StackLayout>
                        <Label text="Rp 220.700" class="dasboard-value owed"></Label>
                    </StackLayout>
                </GridLayout>
                <FlexboxLayout justifyContent="flex-end" class="owe-list-filter">
                    <FlexboxLayout justifyContent="flex-end" class="owe-list-filter-item">
                        <Image class="owe-list-filter__icon" src="~/images/date-filter.png" verticalAlignment="middle">
                        </Image>
                        <Label class="owe-list-filter__text" text="All Time" verticalAlignment="middle"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout justifyContent="flex-end" class="owe-list-filter-item">
                        <Image class="owe-list-filter__icon" src="~/images/category-filter.png"
                            verticalAlignment="middle"></Image>
                        <Label class="owe-list-filter__text" text="All Category" verticalAlignment="middle"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <ListView [items]="transactions" backgroundColor="#e8e7e7">
                    <ng-template nsTemplateKey="transaction" let-item="item">
                    <FlexboxLayout flexDirection="column" class="owe-list" backgroundColor="#e8e7e7">
                        <StackLayout id="item1" orientation="vertical" class="owe-list-item" width="100%"
                            (tap)="onNavigate()">
                            <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto"
                                class="owe-main-info" verticalAlignment="top">
                                <Image row="0" col="0" src="~/images/icon-shopping.png"
                                    class="owe-category-icon"></Image>
                                <StackLayout row="0" col="1" orientation="vertical" class="owe-info-container">
                                    <Label class="owe-title" [text]="item.name"></Label>
                                </StackLayout>
                                <Label text="€ " verticalAlignment="top" row="0" col="1" class="pay-amount euroIcon"></Label>
                                <Label verticalAlignment="top" row="0" col="2" [text]="item.price"class="pay-amount"></Label>
                            </GridLayout>
                            <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto"
                                class="owe-secondary-info">
                                <Label row="0" col="0" [text]="item.date" class="time-information"></Label>
                            </GridLayout>
                            <Label class="divider" text=""></Label>
                        </StackLayout>
                    </FlexboxLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </AbsoluteLayout>
    </GridLayout>
    <GridLayout verticalAlignment="bottom">
        <GridLayout columns="*, *, *" class="bottom-navigation">
            <GridLayout col="0" (tap)="selectTab(0)">
                <Label class="menu-word" text="Menu"></Label>
                <Button class="fa menu-icon" text="&#xf0c9;" fontSize="20" (tap)="onDrawerButtonTap()"></Button>
            </GridLayout>
            <GridLayout col="2" (tap)="selectTab(2)">
                <Label class="menu-word m-word" text="Finances" [nsRouterLink]="['/HouseProfile']"></Label>
                <Button class="fa menu-icon m-word" text="&#xf4d3;"></Button>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</GridLayout>